@model IEnumerable<DocumentManagementSystem.Models.ViewModels.Books2.Item>

@{
    var tabCount = 0;
}

<table class="table table-hover table-condensed table-bordered">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>@(new string('　', tabCount++))</span>@Html.ActionLink(item.Title, "Index", new { id = item.DocumentId })
                </td>
            </tr>
        }
    </tbody>
</table>