@model DocumentManagementSystem.Models.ViewModels.Books4.IndexShelf.IndexShelf

@{
    ViewBag.Title = "书架";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("书籍", "IndexBook")</li>
</ul>

<hr />

<p class="btn-group">
    @Html.ActionLink("添加书架", "CreateShelf", null, new { @class = "btn btn-default" })
</p>

<div>
    @Html.Partial("IndexShelf_List", Model.List)
</div>