@model IEnumerable<DocumentManagementSystem.Models.ViewModels.Documents.Details.ItemChapter>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChapterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChapterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
            </tr>
        }
    </tbody>
</table>