@model DocumentManagementSystem.Models.ViewModels.Documents.IndexBookmark.IndexBookmark

@{
    ViewBag.Title = "书签";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("主界面", "Index", "Home", null, null)</li>
    <li>@ViewBag.Title</li>
</ul>

<div>
    <h2>@ViewBag.Title</h2>
</div>

<div>
    @Html.Partial("IndexBookmark_List", Model.List)
</div>